/* SAMPLE EXAMPLE */
/* body
{
    background-color: pink;
}


@media screen and (max-width: 600px) {
    body{
        background-color: aqua;
    }
} */


/* * {
  box-sizing: border-box;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

@media screen and (max-width: 600px) {
  .topnav a {
    float: none;
    width: 100%;
  }
} */


/* ++++ */
/* reasponsive 4 column layout */
/* * {
    box-sizing: border-box;
  } */
  
  /* Create four equal columns that floats next to each other */
  /* .column {
    float: left;
    width: 25%;
    padding: 20px;
  }
   */
  /* Clear floats after the columns */
  /* .row:after {
    content: "";
    display: table;
    clear: both;
  } */
  
  /* On screens that are 992px wide or less, go from four columns to two columns */
  /* @media screen and (max-width: 992px) {
    .column {
      width: 50%;
    }
  } */
  
  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
  /* @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  } */

  /* Oreintation */
  body{
    background-color: aquamarine;
  }

  @media(orientation: landscape){
body{
      background-color: chocolate;
}
  }
